<!--<p [ngClass]="classes">directory works!</p>

<p>{{jujutsu}}</p>

<p *ngIf="test">Only show if test is true</p>
<style>
    .blue{color: blue;}
    .red{color: red;}
    .underline{text-decoration: underline;}
</style>
// It aplies the classes depending on the property values -->

<h2>Ninja Listing</h2>

<form id="filter" >
    <label>Filter ninjas by name</label>
    <input type="text" [(ngModel)]="term" name="term" [ngModelOptions]="{ standalone: true }"/>
</form>
<ul id="ninja-listing">
    <!--<li *ngFor="let ninja of ninjas">{{ninja.name}} </li>-->
    <li *ngFor="let ninja of ninjas | filter:term">
        <div class="single-ninja">
            <span [ngStyle]="{'background': ninja.belt, color:'white'}">{{ninja.belt | slice:1:3}} belt</span><!--slice the first letter and go through the third onr then slice the rest-->
            <!--<h3>{{ninja.name | uppercase | slice:1:3}}</h3> //pipes -->
            <h3>{{ninja.name}}</h3>
            <div (click)="remove($event)" [attr.data.name]="ninja.name">delete</div>
        </div>
    </li>
</ul>
<button (click)="logIt()">Log me</button>